
<div class="background" style="height:100vh" >
  <div  (click)="onClick()" class="card mb-3 card-background container d-flex justify-content-center" style="max-width: 540px; min-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="data?.image"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{data?.name}}</h2>
          <span>{{data?.status}} - {{data?.species}}</span>
          <div class="card-text">
            <span style="color:rgb(167, 160, 160)">Last know location:</span>
            <br/>
            {{data?.location.name}}
          </div>
          <div class="card-text">
            <span style="color:rgb(167, 160, 160)">First seen in:</span>
            <br/>
            {{data?.origin.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

