.card-background{
    background-color: rgb(78, 75, 75);
    color: white;
    height:35%;
    cursor: pointer;
}

.background{
    background-color: rgb(48, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
}
